/*  --- GLOBALS --- */
:root {

    --main-white: #ecf0f1;
    --main-blue: #34495e;
    --main-lightblue: #7399d6;
}

html, body {
    height:100%;
    font-family: 'Open Sans';
}

body {
    display:flex;
    justify-content: flex-start;
    background-color: var(--main-white);
    flex-direction: column;
}

header {
    background-color: var(--main-blue);
    color: var(--main-white);
    text-align: center;
    flex: .3;
    border-radius: 5px;
    padding:4px;
}

.mainblock {
    display:flex;
    flex: 8;
}

main  {
    flex: 6;
    display:flex;
} 


 /* Navigation menu */ 

nav {
    flex: 1;
}

#navhead:hover {
    cursor: none;
}
.navitem {
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;

}
.navitem:hover {
    cursor: hand;
    background-color: var(--main-blue);
    color: var(--main-white);
}

.activeNav {
    background-color: var(--main-blue);
    color: var(--main-white);
}

a {
    text-decoration: none;
    color: black;
}


 /* Files */ 

.fileview {

/*  --- Flexbox --- */
    display:flex;
    flex-direction: column;
}   

    .fileheader {
    /*    --- CSS ---   */
        cursor: hand;

    /*  --- Flexbox --- */
        display:flex;
        flex-direction: column;
    }
    .fileheader h2 .fa {
        margin-left: 15px;
        
    }

        .fileheader h2 {
        /*    --- CSS ---   */
            text-align: center;
            background-color: var(--main-blue);
            border-radius: 5px;
            padding: 10px;
            color: var(--main-white);
            width: 90%;
            align-self:center;
        }

    .filewrapper{

        display:flex;
        justify-content: center;
        padding-bottom: 30px;
    }
        .lefiles {
        /*  --- Flexbox --- */
            display: flex;
            flex: 0 1 800px;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;

        }

            .file {
            /*    --- CSS ---   */

                width:150px;
                height:auto;
                min-height: 25px;
                background-color:var(--main-lightblue);
                border-radius: 10px;
                margin: 4px 20px 4px 20px;
                padding:5px;
                color: var(--main-white);
                cursor: hand;
                font-size: 16px;

            /*  --- Flexbox --- */
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

